<h2>Les factures</h2>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover table-striped">
      <tr>
        <th>Numéro</th>
        <th>Client</th>
        <th>Date</th>
        <th>Statut</th>
        <th>Montant</th>
      </tr>
      <tr *ngFor="let facture of factures">
        <td><a [routerLink]="[facture.numero]">{{facture.numero}}</a></td>
        <td>{{getClientForFacture(facture.client)}}</td>
        <td>{{facture.date | date: 'dd/MM/yyyy'}}</td>
        <td><span class="label {{facture.getStatusClassName()}}">{{facture.getStatusLabel()}}</span></td>
        <td>{{facture.montant | currency: '€ '}}</td>
      </tr>
      <tr>
        <td colspan="4">Total :</td>
        <td>{{getFacturesTotal() | currency: '€ '}}</td>
      </tr>
    </table>
  </div>
</div>
